<!DOCTYPE html>
<html>
    <head>
        {% load staticfiles %}
        <title>Web шахматы</title>
        <link href="{% static 'chess.css' %}" rel="stylesheet" type="text/css">
        <!-- Подключение библиотеки jquery -->
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
		<!-- Подключение модуля содержащего функции для перемещения фигур -->
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="{% static 'chess.js' %}"></script>
    </head>
    <body>
	    <div id="doska" style="display:none">{{board}}</div>
        <div class="board">
          
        </div>
		<input type="button" value="Начать игру" onclick="start_game()">
        <div>{{move}}</div>
        <div>{{moveTotal}}</div>
    </body>

</html>
